* {
  font-family: sans-serif;
}
table {
  border-collapse: collapse;
}

thead {
  background-color: black;
  color: white;
  text-align: left;
}

th,
td {
  border: 1px solid #888;
  padding: 10px;
  min-width: 100px;
}

.totalCost,
.productTotalCost,
.productPrice,
#totaalLabel {
  text-align: right;
}
